<%= content_for :title do %>
  CodingDojo Feedbacks Admin
<% end %>

<%= render "shared/admin_navbar"%>

<div class="contentWrapper">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
  		<% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="errors"><%= error %></p>
        <% end %>
  		<% end %>
  	</div>
  </div>

  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
  		<% if flash[:success] %>
  			<p class="successes"><%= flash[:success] %></p>
  		<% end %>
  	</div>
  </div>

  <%= render partial: "new_survey_form"%>
</div>

<%= render partial: "shared/admin_active_menu_jQuery" %>

<script>
  $(document).on('click', '#create_survey_button', function() {
    var inputPassword = prompt("Type in password to create survey.");
    $('#create_survey_button').addClass('hidden');
    $('#create_survey_button').val(inputPassword);
  })
</script>