<%= content_for :title do %>
  CodingDojo Feedbacks Admin
<% end %>

<%= render "shared/admin_navbar"%>

<div class="contentWrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <% if @all_surveys.any? %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Name</th>
              <th>Time</th>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody>
            <% @all_surveys.each do |survey| %>
            <% i = 1 %>
              <tr>
                <td><%= Survey.find(survey.id).title %></td>
                <td><%= Survey.find(survey.id).author %></td>
                <td><%= time_ago_in_words(Survey.find(survey.id).created_at) %> ago</td>
                <td class="tooltips" title="<% Survey.find(survey.id).survey_results.all.each do |result| %><% if(result.respondent_name.blank?)%><%= "respondent #{i}" %><% else %><%= result.respondent_name %><% end %> - <%= result.helpful_scale %><% if(!result.feedback.blank?)%><%= " (#{result.feedback})" %><% end %><% if (result != Survey.find(survey.id).survey_results.last) %>,&#013;<% end %><% i += 1 %><% end %>"><% if( Survey.find(survey.id).survey_results.any? ) %><%= Survey.find(survey.id).survey_results.average(:helpful_scale).round(2) %> (<%= Survey.find(survey.id).survey_results.count %> responses)<% else %>0 (0)<% end %></td>
              </tr>
            <% end %>
            <tr>
              <td>Afternoon Session</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey2Responses" title="respondent 1 - 10,&#013;respondent 2 - 10,&#013;respondent 3 - 8,&#013;respondent 4 - 5,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 6,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10  ">7.67 (24 responses)</td>
            </tr>
            <tr>
              <td>Morning Session</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey1Responses" title="respondent 1 - 7,&#013;respondent 2 - 7,&#013;respondent 3 - 7,&#013;respondent 4 - 7,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 7,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10,&#013;respondent 25 - 8  ">7.52 (25 responses)</td>
            </tr>
            <tr>
              <td>Ruby Intro</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey6Responses" title="respondent 1 - 7 (what were you saying?)  ">7.0 (1 responses)</td>
            </tr>
            <tr>
              <td>PHP Intro</td>
              <td>Michael Choi</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey5Responses" title="respondent 1 - 9 (Helped with clarifying the videos),&#013;respondent 2 - 8 (OK),&#013;respondent 3 - 6 (Is the math correct?)  ">7.67 (3 responses)</td>
            </tr>
            <tr>
              <td>MEAN Stack</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey4Responses" title="respondent 1 - 5 (Great job),&#013;respondent 2 - 8 (Yippee)  ">6.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Javascript I</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey3Responses" title="Joe Smith - 8 (Very interesting.),&#013;respondent 2 - 7 (Nice)  ">7.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Afternoon Session</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey2Responses" title="respondent 1 - 10,&#013;respondent 2 - 10,&#013;respondent 3 - 8,&#013;respondent 4 - 5,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 6,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10  ">7.67 (24 responses)</td>
            </tr>
            <tr>
              <td>Morning Session</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey1Responses" title="respondent 1 - 7,&#013;respondent 2 - 7,&#013;respondent 3 - 7,&#013;respondent 4 - 7,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 7,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10,&#013;respondent 25 - 8  ">7.52 (25 responses)</td>
            </tr>
            <tr>
              <td>Ruby Intro</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey6Responses" title="respondent 1 - 7 (what were you saying?)  ">7.0 (1 responses)</td>
            </tr>
            <tr>
              <td>PHP Intro</td>
              <td>Michael Choi</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey5Responses" title="respondent 1 - 9 (Helped with clarifying the videos),&#013;respondent 2 - 8 (OK),&#013;respondent 3 - 6 (Is the math correct?)  ">7.67 (3 responses)</td>
            </tr>
            <tr>
              <td>MEAN Stack</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey4Responses" title="respondent 1 - 5 (Great job),&#013;respondent 2 - 8 (Yippee)  ">6.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Javascript I</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey3Responses" title="Joe Smith - 8 (Very interesting.),&#013;respondent 2 - 7 (Nice)  ">7.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Afternoon Session</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey2Responses" title="respondent 1 - 10,&#013;respondent 2 - 10,&#013;respondent 3 - 8,&#013;respondent 4 - 5,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 6,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10  ">7.67 (24 responses)</td>
            </tr>
            <tr>
              <td>Morning Session</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey1Responses" title="respondent 1 - 7,&#013;respondent 2 - 7,&#013;respondent 3 - 7,&#013;respondent 4 - 7,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 7,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10,&#013;respondent 25 - 8  ">7.52 (25 responses)</td>
            </tr>
            <tr>
              <td>Ruby Intro</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey6Responses" title="respondent 1 - 7 (what were you saying?)  ">7.0 (1 responses)</td>
            </tr>
            <tr>
              <td>PHP Intro</td>
              <td>Michael Choi</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey5Responses" title="respondent 1 - 9 (Helped with clarifying the videos),&#013;respondent 2 - 8 (OK),&#013;respondent 3 - 6 (Is the math correct?)  ">7.67 (3 responses)</td>
            </tr>
            <tr>
              <td>MEAN Stack</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey4Responses" title="respondent 1 - 5 (Great job),&#013;respondent 2 - 8 (Yippee)  ">6.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Javascript I</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey3Responses" title="Joe Smith - 8 (Very interesting.),&#013;respondent 2 - 7 (Nice)  ">7.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Afternoon Session</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey2Responses" title="respondent 1 - 10,&#013;respondent 2 - 10,&#013;respondent 3 - 8,&#013;respondent 4 - 5,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 6,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10  ">7.67 (24 responses)</td>
            </tr>
            <tr>
              <td>Morning Session</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey1Responses" title="respondent 1 - 7,&#013;respondent 2 - 7,&#013;respondent 3 - 7,&#013;respondent 4 - 7,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 7,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10,&#013;respondent 25 - 8  ">7.52 (25 responses)</td>
            </tr>
            <tr>
              <td>Ruby Intro</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey6Responses" title="respondent 1 - 7 (what were you saying?)  ">7.0 (1 responses)</td>
            </tr>
            <tr>
              <td>PHP Intro</td>
              <td>Michael Choi</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey5Responses" title="respondent 1 - 9 (Helped with clarifying the videos),&#013;respondent 2 - 8 (OK),&#013;respondent 3 - 6 (Is the math correct?)  ">7.67 (3 responses)</td>
            </tr>
            <tr>
              <td>MEAN Stack</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey4Responses" title="respondent 1 - 5 (Great job),&#013;respondent 2 - 8 (Yippee)  ">6.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Javascript I</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey3Responses" title="Joe Smith - 8 (Very interesting.),&#013;respondent 2 - 7 (Nice)  ">7.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Afternoon Session</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey2Responses" title="respondent 1 - 10,&#013;respondent 2 - 10,&#013;respondent 3 - 8,&#013;respondent 4 - 5,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 6,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10  ">7.67 (24 responses)</td>
            </tr>
            <tr>
              <td>Morning Session</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey1Responses" title="respondent 1 - 7,&#013;respondent 2 - 7,&#013;respondent 3 - 7,&#013;respondent 4 - 7,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 7,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10,&#013;respondent 25 - 8  ">7.52 (25 responses)</td>
            </tr>
            <tr>
              <td>Ruby Intro</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey6Responses" title="respondent 1 - 7 (what were you saying?)  ">7.0 (1 responses)</td>
            </tr>
            <tr>
              <td>PHP Intro</td>
              <td>Michael Choi</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey5Responses" title="respondent 1 - 9 (Helped with clarifying the videos),&#013;respondent 2 - 8 (OK),&#013;respondent 3 - 6 (Is the math correct?)  ">7.67 (3 responses)</td>
            </tr>
            <tr>
              <td>MEAN Stack</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey4Responses" title="respondent 1 - 5 (Great job),&#013;respondent 2 - 8 (Yippee)  ">6.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Javascript I</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey3Responses" title="Joe Smith - 8 (Very interesting.),&#013;respondent 2 - 7 (Nice)  ">7.5 (2 responses)</td>
            </tr>
            <tr>
              <td>Afternoon Session</td>
              <td>Rory Pasley</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey2Responses" title="respondent 1 - 10,&#013;respondent 2 - 10,&#013;respondent 3 - 8,&#013;respondent 4 - 5,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 6,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10  ">7.67 (24 responses)</td>
            </tr>
            <tr>
              <td>Morning Session</td>
              <td>Jay Patel</td>
              <td>2 days ago</td>
              <td class="tooltips" id="survey1Responses" title="respondent 1 - 7,&#013;respondent 2 - 7,&#013;respondent 3 - 7,&#013;respondent 4 - 7,&#013;respondent 5 - 9,&#013;respondent 6 - 7,&#013;respondent 7 - 7,&#013;respondent 8 - 8,&#013;respondent 9 - 10,&#013;respondent 10 - 8,&#013;respondent 11 - 10,&#013;respondent 12 - 7,&#013;respondent 13 - 7,&#013;respondent 14 - 9,&#013;respondent 15 - 7,&#013;respondent 16 - 5,&#013;respondent 17 - 6,&#013;respondent 18 - 7,&#013;respondent 19 - 6,&#013;respondent 20 - 6,&#013;respondent 21 - 8,&#013;respondent 22 - 7,&#013;respondent 23 - 8,&#013;respondent 24 - 10,&#013;respondent 25 - 8  ">7.52 (25 responses)</td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <p>No surveys results have been submitted at the moment.</p> 
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/admin_active_menu_jQuery" %>
<script>
  if(window.location.href.indexOf('/survey_results/show') != -1) {
    $('nav > .container').append('<ul class="nav navbar-nav navbar-right"><li><a id="topButton" href="#top">Back to top</a></li></ul>')
  }
  $('#topButton').on('click', function() {
    window.scrollTo(0,0);
    return false;
  })
  $(document).tooltip();
  $( ".tooltips" ).tooltip({
    position: { my: "left top+15", at: "right top+5", collision: "flipfit" }
  });
</script>